body {
  background-color: #DDDDFF;
}

a img {
  border:0px; /* netscape/mozilla outlines images in anchors */
}

#header { margin-bottom:8px; }
#header .title { font-style:italic; margin:0px; margin-bottom:4px; }

#navigation { font-family:monospace; vertical-align:top; padding-right:16px; }
#navigation img { width:32px; height:32px; }
#navigation img.selector { width:16px; height:16px; }
#navigation a { text-decoration:none; }
